<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-25 overlay">
    <div class="bg-pink-agatha w-max px-14 pt-11 pb-16 border-agatha">
        <div class="flex relative">
            <div class="flex items-center justify-center gap-4 w-full mb-8">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                    <path d="M51.3596 9.14035C62.8801 20.6608 62.8801 39.3392 51.3596 50.8596C39.8392 62.3801 21.1608 62.3801 9.64035 50.8596C-1.88012 39.3392 -1.88012 20.6608 9.64035 9.14035C21.1608 -2.38012 39.8392 -2.38012 51.3596 9.14035Z" fill="white" stroke="#DB374F"/>
                </svg>
                <h2>{{ username }}</h2>
            </div>
            <button (click)="sendClose()" class="absolute p-2.5 close" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.325437 0.325437C0.759353 -0.108479 1.46287 -0.108479 1.89679 0.325437L10 8.42865L18.1032 0.325438C18.5371 -0.108478 19.2406 -0.108478 19.6746 0.325438C20.1085 0.759354 20.1085 1.46287 19.6746 1.89679L11.5713 10L19.6746 18.1032C20.1085 18.5371 20.1085 19.2406 19.6746 19.6746C19.2406 20.1085 18.5371 20.1085 18.1032 19.6746L10 11.5713L1.89679 19.6746C1.46287 20.1085 0.759353 20.1085 0.325437 19.6746C-0.108479 19.2406 -0.108479 18.5371 0.325437 18.1032L8.42865 10L0.325437 1.89679C-0.108479 1.46287 -0.108479 0.759353 0.325437 0.325437Z" fill="#DB374F"/>
                </svg>
            </button>
        </div>
        <div class="flex flex-col gap-2 text-left">
            <h3 class="text-left">Profile</h3>
            <p class="flex justify-between">
                <span class="font-bold">Email:</span> 
                <span class="black font-normal">{{ email }}</span> 
            </p>
            <a class="block w-fit" href="#"> Change username</a>
            <a class="block w-fit" href="#"> Change profile picture</a>
            <a class="block w-fit" href="#"> Change password</a>
            <form>
                <fieldset class="mb-16">
                    <legend class="text-left">Style</legend>
                    <div class="input">
                        <label for="style" class="mr-5">Choose a style:</label>
                        <select name="style" id="style">
                            <option value="agatha">Agatha</option>
                            <option value="budapest">Budapest</option>
                            <option value="mr-fox">Mr. Fox</option>
                            <option value="moonrise">Moonrise</option>
                            <option value="asteroid">Asteroid</option>
                        </select>
                    </div>
                </fieldset>
                <button type="submit" class="btn block">Save</button>
            </form>
        </div>
    </div>
</div>

