<div>
    <main>
        <div class="bg-pink-agatha ">
            <div class="p-8 red-agatha container mx-auto max-w-xl">
                <div class="px-8 pt-10 pb-16 flex flex-col gap-12 red-agatha border-agatha">
                    <h1>Start your Grand Task Adventure</h1>
                    <p >Welcome to Agatha, the task manager with a dash of style. As you embark on your task management journey with us, discover a whimsical way of getting your to-do list done.</p>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-10 py-12 md:px-8">
            <h2>Ready To Begin</h2>
            <a class="btn btn-pink" routerLink="/get-started"> Get Started</a>
        </div>
    </main>
</div>
