.input{
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.close{
    top: -2rem;
    right: -2.5em;
}
.border-agatha{
    border: none;
}

button:disabled{
    opacity: 50%;
}


@media (max-height: 700px) {
    .overlay{
        align-items: flex-start;
        position: absolute;

    }
}